// plugin animations
.animation-fromTop {
  animation-duration: 2s;
  animation-name: fromTop;
}

.animation-fromBottom {
  animation-duration: 2s;
  animation-name: fromBottom;
}

.animation-fromLeft {
  animation-duration: 1s;
  animation-name: fromLeft;
}

.animation-fromRight {
  animation-duration: 1s;
  animation-name: fromRight;
}

.animation-fade {
  animation-duration: 1s;
  animation-name: fade;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// transition animations

.translate-to-right-enter {
  transform: translate(-50%, 0);
  opacity: 0;
}

.translate-to-right-enter-to {
  opacity: 1;
  transform: translate(0, 0);
}

.translate-to-right-enter-active {
  transition: all 200ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}


.to-right-leave-to {
  transform: translate(-20%, 0);
  opacity: 0;
}

.to-right-leave {
  opacity: 1;
  transform: translate(0, 0);
}

.to-right-leave-active {
  transition: all 400ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.to-left-leave-to {
  transform: translate(-80%, 0);
  opacity: 0;
}

.to-left-leave {
  opacity: 1;
  transform: translate(0, 0);
}

.to-left-leave-active {
  transition: all 400ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.fade-out-leave-to {
  opacity: 0;
}

.fade-out-leave {
  opacity: 1;
}

.fade-out-leave-active {
  transition: all 300ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.scale-out-enter,
.scale-out-leave-to {
  transform: scale(0)
}

.scale-out-enter-to,
.scale-out-leave {
  transform: scale(1)
}

.scale-out-enter-active,
.scale-out-leave-active {
  transition: all 300ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}