/* All modules reusable parts ------------------------
 ----------------------------------------------------- */
/* Links & Buttons */


.main-btn {
  min-width: 245px;
  display: inline-block;
  text-align: center;
  padding: 16px 0;
  background-color: $orange-cl;
  color: $white-cl;
  border-radius: 31.5px;
  border: 2px solid $orange-cl;
  font-size: 1.38rem;
  line-height: 1.14;
  font-weight: $font-bold;
  transition: 0.3s;

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    background-color: $grey-cl-300;
  }

  &--form {
    min-width: 300px;
    border-radius: 30.5px;
    font-size: 1.12rem;
    line-height: 1.44;

    @media (max-width: 575px) {
      min-width: 250px;
    }
  }

  &--in-chat {
    width: 100%;
    border-radius: 30.5px;
    font-family: $font-secondary;
    font-size: 1.12rem;
    line-height: 1.44;

    &:hover {
      color: $orange-cl;
      background-color: transparent!important;
    }
  }

  &--small {
    min-width: 200px;
    border-radius: 30.5px;
    font-family: $font-secondary;
    font-size: 1.12rem;
    line-height: 1.44;

    &:hover {
      color: $orange-cl;
      background-color: transparent;
    }
  }

  &--hover-white{
    &:hover {
      background-color: $white-cl!important;
    }
  }

  &:hover {
    color: $orange-cl;
    background-color: transparent;
  }
}

.btn-in-cart {
  width: 100%;
  padding: 16px 0;
  display: inline-block;
  text-align: center;
  border-radius: 30.5px;
  font-family: $font-secondary;
  font-size: 1rem;
  line-height: 1.5;
  color: $blue-cl;
  background-color: transparent;
  border: 2px solid $blue-cl;
  font-weight: $font-bold;
  transition: 0.3s;

  &--orange {
    font-size: 1.12rem;
    line-height: 1.44;
    color: $white-cl;
    background-color: $orange-cl;
    border: 2px solid $orange-cl;
    &:hover {
      color: $orange-cl!important;
      background-color: transparent!important;
    }
  }

  &:hover {
    background-color: $blue-cl;
    color: $white-cl;
  }

  &:focus {
    outline: none;
  }

/*button in form-registration*/
  &--alt {
    border-radius: 15px;
    border: 2px solid $blue-cl;
    background-color: $blue-cl;
    color: $white-cl;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.17);
    font-size: 1.12rem;
    line-height: 1.44;

    &:hover {
      background-color: transparent;
      color: $blue-cl;
    }

    &-grey {
      border-radius: 15px;
      background-color: $grey-cl-500;
      color: $white-cl;
      border: 2px solid $grey-cl-500;

      &:hover {
        background-color: transparent;
        color: $grey-cl-500;
      }
    }

    &-grey-light {
      border-radius: 15px;
      background-color: $grey-cl-300;
      color: $white-cl;
      border: 2px solid $grey-cl-300;

      &:hover {
        background-color: transparent;
        color: $grey-cl-300;
      }
    }
  }
}



.square-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 27px;
  border: 2px solid $black-cl-300;
  transform: rotate(45deg);
  background: transparent;
  margin-right: 30px;
  &:focus {
    outline: none;
  }

  &--is-active {
    .hero__signs-add {
      background-color: $grey-cl-700;
    }
  }

  &--is-past {
    .hero__signs-add {
      background-color: $orange-cl;
    }
  }
}
