.circle {
  height: 72px;
  width: 72px;
  border: 1px solid $grey-cl-800;
  background-color: $grey-cl-100;
  color: $white-cl;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &--is-active {
    background-color: $orange-cl;
  }

  &--is-past {
    background-color: $blue-cl;
  }
}
