.hero {
  padding: 80px 0 90px;
  background-color: #C7DDEC;

  &__controls--step1 {
    position: absolute;
    z-index: 20;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
  }

  &__controls {
    width: 280px;
    max-width: 725px;
    transition: all 1s ease;
    background-color: #fff;
    border-radius: 100px;
    margin-bottom: 30px;
    transition: all .5s;
  }

  &__hair-wrapper, &__accessory-wrapper {
    position: absolute;
    width: 100%;
    max-width: 490px;
    height: 300px;
    top: 0;
    left: 52%;
    transform: translateX(-50%);
    z-index: 20;
  }

  &__hair-item {
    position: absolute;

    &:first-child {
      left: 0;
      top: 73%;
    }

    &:nth-child(2) {
      top: 32%;
      left: 15%;
    }

    &:nth-child(3) {
      top: 13%;
      left: 42%;
    }

    &:nth-child(4) {
      top: 32%;
      left: 69%;
    }

    &:last-child {
      left: 83%;
      top: 73%;
    }
  }

  &__accessory-item {
    position: absolute;

    &:nth-child(1) {
      top: 30%;
      left: 11%;
    }

    &:nth-child(2) {
      top: 10%;
      left: 40%;
    }

    &:nth-child(3) {
      top: 31%;
      left: 67%;
    }
  }

  &__color {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 5px solid #424242;

    &--active {
      border-color: #fff;
    }
  }

  &__wrapper-image {
    height: 600px;
    overflow-y: hidden;
  }

  &__image {
    position: absolute;
    width: 350px;
    top: 150px;
    opacity: .5;
    z-index: 0;
    transform: translateX(-50%) scale(.9);
    transition: all .4s ease-in-out;

    &--left {
      left: 42%;
    }

    &--right {
      left: 62%;
    }

    &--active {
      opacity: 1;
      z-index: 10;
      transform: translateX(-50%) scale(1)
    }

    &--center {
      opacity: 1;
      left: 52%;
      transform: translateX(-50%) scale(1);
    }
  }

  &__signs {
    margin-top: 30px;

    &-add {
      height: 15px;
      width: 15px;
    }
  }

  @media (max-width: 991px) {
    padding: 80px 0 80px 0;
  }

  @media (max-width: 767px) {
    padding: 50px 0 50px 0;
  }
}
