.input {
  &__element {
    max-width: 725px;
    width: 100%;
    padding: 25px;
    border: none;
    border-radius: 45.5px;
    color: $primary-cl;
    background-color: $white-cl;
    box-shadow: 0 6px 18px -3px rgba(0,0,0,0.17);
    font-size: 2.06rem;
    line-height: 1.18;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 1.5rem;
      padding: 20px;
    }
  }

  &__error-msg {
    margin: 15px 15px 0 0;
    font-size: 0.81rem;
    color: red;
    display: none;
    font-style: italic;
  }

  input::placeholder {
    color: $grey-cl-300;
    opacity: 1;
  }

/*input with button*/
  &--with-btn {
    margin-top: 30px;

    .input__element {
      border-radius: 45.5px 0 0 45.5px;
      font-size: 1.25rem;
      line-height: 1.5;
      text-align: left;
      flex: 0 1 400px;
      padding: 8px 25px;
      @media (max-width: 400px) {
        font-size: 1rem;
        padding: 8px 10px;
      }
    }

    .input__button {
      background-color: $blue-cl-700;
      color: $white-cl;
      border-radius: 0 45.5px 45.5px 0;
      font-size: 1.25rem;
      line-height: 1.5;
      padding: 8px 25px;
      font-weight: $font-normal;
      &:focus {
        outline: none;
      }
      @media (max-width: 400px) {
        font-size: 1rem;
        padding: 8px 10px;
      }
    }
  }

/* input--discount*/
  &--discount {
    .input__element {
      font-size: 1.25rem;
      line-height: 1.2;
      text-align: left;
      padding: 18px 25px;
      border-radius: 30.5px 0 0 30.5px;
      color: $primary-cl;
    }

    .input__button {
      font-family: $font-secondary;
      font-size: 1rem;
      line-height: 1.5;
      background-color: $blue-cl-800;
      color: $white-cl;
      border-radius: 0 30.5px 30.5px 0;
      padding: 18px 53px;
    }

    @media (max-width: 767px) {
      margin-bottom: 35px;
    }
  }

/*input for contact-page*/
  &--rounded {
    .input__element {
      border-radius: 15px;
      padding: 20px 15px;
      font-size: 1rem;
      box-shadow: 0 10px 14px -10px rgba(0,0,0,0.17);
      text-align: left;
    }

    &-large {
      .input__element {
        height: 150px;
      }
    }

    &-reg {
      .input__element {
        border: 1px solid $grey-cl-300;
      }
    }
  }

  &--square {
    .input__element {
      border-radius: 0;
      border: 1px solid $grey-cl-300;
      font-size: 1.25rem;
      line-height: 1.2;
      padding: 17px 15px;
      text-align: left;
    }
  }

  &--has-error {
    .input__error-msg {
      display: block;
    }

    .input__element {
      border: 1px solid red;
    }
  }
}

/*textarea */
.textarea-block {
  width: 100%;
  height: 150px;
  color: $primary-cl;
  border: none;
  border-radius: 15px;
  padding: 20px 15px;
  font-size: 1rem;
  line-height: 1.18;
  box-shadow: 0 10px 14px -10px rgba(0,0,0,0.17);
  text-align: left;
}

textarea::placeholder {
  color: $grey-cl-300;
  opacity: 1;
}

/*checkbox*/

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;

  &__element {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      ~ .checkbox__checkmark {
        background-color: $white-cl;
        border: 1px solid $grey-cl-300;
        &:after {
          display: block;
        }
      }
    }
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid $grey-cl-300;
    border-radius: 3px;
    background-color: $white-cl;
    box-shadow: 0 10px 14px -10px rgba(0,0,0,0.17);
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 7px;
      top: 4px;
      width: 6px;
      height: 8px;
      border: 1px solid $orange-cl;
      border-width: 0px 2px 2px 0px;
      transform: rotate(45deg);
    }

    &--blue {
      &:after {
        border: 1px solid $blue-cl;
        border-width: 0px 2px 2px 0px;
      }
    }
  }
}
