.math-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 50px;
  max-width: 50px;
  height: 50px;
  font-size: 2.75rem;
  line-height: 1;
  color: $white-cl;
  font-weight: $font-bold;
  background-color: $blue-dark-cl;
  border-radius: 8px;
  @media (max-width: 991px) {
    margin: auto;
  }
}
