/*title*/

/*font-size: 75px*/
.title1 {
  font-size: 4.68rem;
  line-height: 1.1;
  letter-spacing: -0.8;
  @media (max-width: 1199px) {
    font-size: 4rem;
  }

  @media (max-width: 575px) {
    font-size: 3rem;
  }

}
/*font-size: 65px*/
.title2 {
  font-size: 4.06rem;
  line-height: 1.17;
  @media (max-width: 767px) {
    font-size: 3rem;
  }
}
/*font-size: 54px*/
.title3 {
  font-size: 3.37rem;
  line-height: 1.17;
  @media (max-width: 991px) {
    font-size: 3rem;
  }

  @media (max-width: 767px) {
    font-size: 2.5rem;
  }
}
/*font-size: 35px*/
.title4 {
  font-size: 2.18rem;
  line-height: 1.06;
  @media (max-width: 767px) {
    font-size: 1.8rem;
  }

  @media (max-width: 575px) {
    font-size: 1.5rem;
  }
}

/*font-size: 20px*/
.title5 {
  font-size: 1.25rem;
  line-height: 1.5;
}

/*font-size: 15px*/
.title6 {
  font-size: 0.93rem;
  line-height: 2.13;
  letter-spacing: 3.26px;
}

/*font-size: 30px;*/
.title7 {
  font-size: 1.87rem;
  line-height: 1;
  @media (max-width: 767px) {
    font-size: 1.25rem;
  }
}

/*font-size: 20px; line-height: 24*/
.title8 {
  font-size: 1.25rem;
  line-height: 1.2;
}

/* text-components for body*/

/*font-size: 24px*/
.text-body-lg {
  font-size: 1.5rem;
  line-height: 1.17;
}

/*font-size: 18px*/
.text-body-md {
  font-size: 1.13rem;
  line-height: 1.17;

  @media (max-width: 991px) {
    font-size: 1rem;
  }

  @media (max-width: 575px) {
    font-size: 0.8rem;
  }
}
/*font-size: 13px*/
.text-body-s {
  font-size: 0.81rem;
  line-height: 1.35;

  @media (max-width: 575px) {
    line-height: 1;
  }
}
/*font-size: 12px*/
.text-body-xs {
  font-size: 0.75rem;
  line-height: 1.17;
}

/*font-size: 16px; line-height:28*/
.line-height1 {
  line-height: 1.75;
  font-size: 1rem;
}
/*font-size: 16px; line-height:37*/
.line-height2 {
  line-height: 2.3;
}

.line-height3 {
  font-size: 1rem;
  line-height: 1;
}
