/* Global helpers, written with prefix .h ------------
----------------------------------------------------- */

.h-font-additional {
  font-family: $font-additional;
}

.h-font-secondary {
  font-family: $font-secondary;
}

/* Helpers for text ----------------------------------
----------------------------------------------------- */
.h-text-white-cl {
  color: $white-cl;
}

.h-text-primary-cl {
  color: $primary-cl;
}

.h-text-grey-cl-700 {
  color: $grey-cl-700;
}

.h-text-grey-cl-600 {
  color: $grey-cl-600;
}

.h-text-grey-cl-500 {
  color: $grey-cl-500;
}

.h-text-grey-cl-400 {
  color: $grey-cl-400;
}

.h-text-grey-cl-300 {
  color: $grey-cl-300;
}

.h-text-grey-cl-100 {
  color: $grey-cl-100;
}

.h-text-orange-cl {
  color: $orange-cl;
}

.h-text-blue-cl {
  color: $blue-cl;
}

.h-text-blue-cl-800 {
  color: $blue-cl-800;
}

.h-bg-blue-cl {
  background-color: $blue-cl;
}

.h-bg-blue-light-cl {
  background-color: $blue-light-cl;
}

.h-text-blue-dark-cl {
  color: $blue-dark-cl;
}
.h-bg-beige-cl {
  background-color: $beige-cl;
}

.h-bg-beige-dark-cl {
  background-color: $beige-dark-cl;
}

.h-bg-white-cl {
  background-color: $white-cl;
}

.h-bg-grey-cl-100 {
  background-color: $grey-cl-100;
}

.h-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Helpers for behaviour -----------------------------
 ----------------------------------------------------- */
.h-pointer {
 cursor: pointer;
}

.h-underline {
 text-decoration: underline;
}

.h-text-base {
  font-size: 0.875rem;
}

.h-text-md {
  font-size: 1.25rem;
}

.h-flex-1 {
  flex: 1 1 0%;
}

.h-w-25 {
  width: 25px;
}

.h-opacity-0 {
  opacity: 0;
}

.h-relative {
  position: relative;
}

h1 {
  margin-bottom: 0;
}


/* class for main section on page*/
.min-height {
  min-height: calc(100% - 334px);
}
