/* Global variables ----------------------------------
 ----------------------------------------------------- */
$font-regular: 'Roboto', sans-serif;

$font-secondary: 'Oswald', sans-serif;
$font-additional: 'Bauer';
$font-bold: 700;
$font-normal: 400;
/* Color variables ----------------------------------
 ----------------------------------------------------- */
$primary-cl: #686868;
$grey-cl-50: #ADADAD;
$grey-cl-80: #D1D1D1;
$grey-cl-100: #D8D8D8;
$grey-cl-200: #f8f9fa;
$grey-cl-300: #C3C3C3;
$grey-cl-400: #9B9B9B;
$grey-cl-500: #666766;
$grey-cl-600: #4A4A4A;
$grey-cl-700: #424242;
$grey-cl-800: #979797;
$orange-cl: #FF7A00;
$blue-cl: #61B9B1;
$blue-dark-cl: #00A5A8;
$blue-light-cl: #5DC5C1;
$blue-cl-700: #00908C;
$blue-cl-800: #417DA3;
$white-cl: #ffffff;
$black-cl: #000000;
$black-cl-300: #424242;
$beige-cl: #EFEFEF;
$beige-dark-cl: #E8E8E8;
