  <div class="cart__order h-bg-white-cl d-md-flex align-items-start mb-4">
    <div class="cart__order-book mr-md-4">
    </div>
    <div class="d-flex justify-content-between flex-grow-1">
      <div>
        <h1 class="h-font-secondary title7 h-text-grey-cl-600 mb-1">MY HOCKEY DREAM</h1>
        <p class="line-height1 h-text-grey-cl-500 mb-3">for Morgan</p>
        <a href="cart.html" class="cart__order-editing line-height1 h-text-blue-cl-800 text-decoration">Edit Book</a>
      </div>

      <div class="h-text-grey-cl-500 d-flex flex-column justify-content-between align-items-end">
        <div class="d-flex align-items-start mb-3">
          <h1 class="title7 font-weight-bold mr-3">$37.99</h1>
          <a href="#"><i class="far fa-times-circle cart__order-close"></i></a>
        </div>
        <a href="review-order.html" class="review__btn btn-in-cart  btn-in-cart--alt">Order # 123456789</a>
      </div>
    </div>
  </div>
