<h3 class="title5 h-text-grey-cl-500 font-weight-bold mb-3">Order Summary</h3>
<div class="d-flex align-items-center form__order-name">
  <div class="form__order-book mr-3">
  </div>
  <div class="flex-grow-1">
    <h1 class="h-font-secondary line-height3 h-text-grey-cl-600 mb-2">MY HOCKEY DREAM</h1>
    <p class="text-body-xs h-text-grey-cl-500 mb-1">for Morgan - Hardcover</p>
    <a href="cart.html" class="form__order-editing text-body-xs h-text-blue-cl-800 text-decoration">Edit</a>
  </div>
</div>
