<!--hero-block-->
<div id="app">
  <div class="hero h-text-white-cl text-center" id="hero-block">
    <div class="container">
      <h1 class="title2">Create your Hero!</h1>
      <div class="h-relative">

        <!-- hair types START -->
        <div v-if="step === 'two' && activeState === 'hair'" class="hero__hair-wrapper">
          <delayed-animation animation="animation-fade">
            <span
              @click="changeHandlerByType(item, 'hairTypes')"
              class="hero__hair-item h-pointer"
              v-for="item in hairTypes"
              :key="item.id">
              <img :src="`img/hero/hair/cuts/${item.image}${item.isActive ? '-s' : ''}.svg`" alt="right">
            </span>
          </delayed-animation>
        </div>
        <!-- hair types END -->

        <!-- accessories START -->
        <div v-if="step === 'two' && activeState === 'accessory'" class="hero__accessory-wrapper">
          <delayed-animation animation="animation-fade">
            <span
              @click="changeHandlerByType(item, 'accessoryTypes')"
              class="hero__accessory-item h-pointer"
              v-for="item in accessoryTypes"
              :key="item.id"
            >
              <img :src="`img/hero/accessories/${item.image}${item.isActive && item.image !== 'no-accessory' ? '-s' : ''}.png`" alt="right">
            </span>
          </delayed-animation>
        </div>
        <!-- accessories END -->

        <!-- images START -->
        <div class="h-relative">
          <div class="hero__wrapper-image h-relative">
            <transition name="to-right">
              <div v-if="step === 'one' || step === 'two' && character.gender === 'girl'" class="hero__image hero__image--left" :class="[{ 'hero__image--active': character.gender === 'girl' }, { 'hero__image--center': step === 'two' }]">
                <img :src="defaultImageGirl" alt="girl">
              </div>
            </transition>
            <transition name="to-left">
              <div v-if="step === 'one' || step === 'two' && character.gender === 'boy'" class="hero__image hero__image--right " :class="[{ 'hero__image--active': character.gender === 'boy' }, { 'hero__image--center': step === 'two' }]">
                <img :src="defaultImageBoy" alt="boy">
              </div>
            </transition>
          </div>
          <!-- images END -->

          <!-- controll buttons for step one START -->
          <div class="hero__controls--step1 d-flex">
            <transition name="scale-out">
              <div v-if="step === 'one'" @click="changeGender('girl')">
                <img :src="`img/hero/features/${character.gender === 'girl' ? 'hair-s' : 'hair'}.svg`" class="mr-5 h-pointer" alt="icon">
              </div>
            </transition>
            <transition name="scale-out">
              <div v-if="step === 'one'" @click="changeGender('boy')"><img :src="`img/hero/features/${character.gender === 'boy' ? 'acc-s' : 'acc'}.svg`" class="h-pointer" alt="icon"></div>
            </transition>
          </div>
          <!-- controll buttons for step one END -->
        </div>
      </div>

      <div class="w-100 d-flex justify-content-center align-items-center">
        <div class="hero__controls mt-0" :class="step === 'one' ? 'w-100' : ''">
          <!-- input START-->
          <div v-show="step === 'one'" class="input hero__input">
            <input type="text" placeholder="Enter your child’s name!" v-model="character.name" class="input__element mx-auto">
          </div>
          <!-- input END-->

          <!-- controls step two START-->
          <div v-if="step === 'two'" class="p-2">
            <span class="h-pointer" @click="changeState('skin')"><img :src="`img/hero/features/skin-s.svg`" class="mr-2" alt="icon"></span>
            <span class="h-pointer" @click="changeState('hair')"><img :src="`img/hero/features/${activeState !== 'skin' ? 'hair-s' : 'hair'}.svg`" class="mr-2" alt="icon"></span>
            <span class="h-pointer" @click="changeState('accessory')"><img :src="`img/hero/features/${activeState === 'accessory' ? 'acc-s' : 'acc'}.svg`" alt="icon"></span>
          </div>
          <!-- controls step two END-->
        </div>
      </div>

      <!-- color buttons START -->
      <transition name="fade-out">
        <div v-if="step === 'two'" >
          <!-- skin color buttons START -->
          <div v-if="activeState === 'skin'" class="pb-5 d-flex justify-content-center align-items-center">
            <div @click="prevColor('skinColors')" class="mr-4 h-pointer"><img :src="`img/hero/navigate/l_dark.svg`" alt="left"></div>
            <delayed-animation class="d-flex">
              <div
                @click="changeHandlerByType(item, 'skinColors')"
                v-for="item in skinColors"
                :key="item.id"
                :style="`background-color: ${item.color}`"
                class="mr-2 h-pointer hero__color"
                :class="item.isActive ? 'hero__color--active' : ''"
              ></div>
            </delayed-animation>
            <div @click="nextColor('skinColors')" class="h-pointer ml-3"><img :src="`img/hero/navigate/r_dark.svg`" alt="right"></div>
          </div>
          <!-- skin color buttons END -->

          <!-- hair color buttons START-->
          <div v-if="activeState === 'hair'" class="pb-5 d-flex justify-content-center align-items-center">
            <div @click="prevColor('hairColors')" class="mr-4 h-pointer"><img :src="`img/hero/navigate/l_dark.svg`" alt="left"></div>
            <delayed-animation class="d-flex">
              <div
                @click="changeHandlerByType(item, 'hairColors')"
                v-for="item in hairColors"
                :key="item.id"
                :style="`background-color: ${item.color}`"
                class="mr-2 h-pointer hero__color"
                :class="item.isActive ? 'hero__color--active' : ''"
              ></div>
            </delayed-animation>
            <div @click="nextColor('hairColors')" class="h-pointer ml-3"><img :src="`img/hero/navigate/r_dark.svg`" alt="right"></div>
          </div>
          <!-- hair color buttons END -->
        </div>
      </transition>
      <!-- color buttons END -->

      <!-- button <CUSTOMIZE> <NEXT>  START -->
      <div class="d-flex items-center justify-content-center">
        <transition name="translate-to-right">
          <span v-if="step === 'two'" @click="toStep('one')" class="mr-3 h-pointer"><img :src="`img/hero/features/back_dark.svg`" alt="icon"></span>
        </transition>
        <button v-if="step === 'one'" @click="nextStep('two')" class="main-btn px-5">CUSTOMIZE</button>
        <button v-if="step === 'two'" @click="nextStep('three')" class="main-btn px-5">NEXT</button>
      </div>
      <!-- button <CUSTOMIZE> <NEXT>  END -->

      <!-- pagination START -->
      <div class="hero__signs d-flex justify-content-center">
        <span class="square-btn" :class="step === 'one' ? 'square-btn--is-active' : 'square-btn--is-past'">
          <div class="hero__signs-add"></div>
        </span>
        <span class="square-btn" :class="step === 'two' ? 'square-btn--is-active' : step === 'three' ? 'square-btn--is-past' : ''">
          <div class="hero__signs-add"></div>
        </span>
        <span class="square-btn mr-0" :class="step === 'three' ? 'square-btn--is-active' : ''">
          <div class="hero__signs-add"></div>
        </span>
      </div>
      <!-- pagination END -->
    </div>
  </div>
</div>
