<div class="home min-height">
<!--div class="home__titles"-->
  <div class="home__titles">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="img/header-books.png" alt="books" class="home__titles-img"/>
        </div>
        <div class="col-lg-6">
          <div class="home__titles-wrapper text-center">
            <h4 class="home__titles-text text-uppercase h-font-secondary h-text-orange-cl font-weight-bold mb-1">Officially licensed</h4>
            <h1 class="title1 font-weight-bold h-text-orange-cl mb-2">Personalized NHL Books<h1>
            <h1 class="title5 h-text-primary-cl mb-4">For the young fan in your life.</h1>
            <button class="main-btn main-btn--small">GET STARTED</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home__creation h-text-blue-cl text-center font-weight-bold">
    <div class="container">
      <div class="d-lg-flex justify-between align-items-center home__creation-wrapper">
        <div class="home__creation-item ml-lg-0 mt-0">
          <p class="home__creation-text">Your young fan</p>
        </div>
        <div class="math-block">+</div>
        <div class="home__creation-item">
          <p class="home__creation-text">Their favorite superstar</p>
        </div>
        <div class="math-block">+</div>
        <div class="home__creation-item mr-lg-0 mb-0">
          <p class="home__creation-text">In a one-of-a-kind personalized book</p>
        </div>
      </div>

      <div class="math-block m-auto">=</div>

      <div class="home__creation-example">
        <div class="row">
          <div class="container">
            <div class="col-lg-8 offset-lg-2">
              <img src="img/result_book.png" alt="book"/>
              <button class="main-btn">CREATE MAGIC</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home__work text-center font-weight-bold h-bg-white-cl">
    <div class="container">
      <h1 class="title3 h-text-grey-cl-500 font-weight-normal">How does it work?</h1>
      <div class="home__work-wrapper d-lg-flex align-items-center">
        <div class="home__work-block">
          <div class="home__work-item mt-0">
            <img src="img/arrow_01.svg" alt="arrow" class="home__work-icon"/>
          </div>
          <p class="home__work-text">Personalize the hero</p>
        </div>
        <div class="home__work-block">
          <div class="home__work-item">
            <img src="img/arrow_01.svg" alt="arrow" class="home__work-icon"/>
          </div>
          <p class="home__work-text">Choose the superstar</p>
        </div>
        <div class="home__work-block">
          <div class="home__work-item">
            <img src="img/arrow_01.svg" alt="arrow" class="home__work-icon"/>
          </div>
          <p class="home__work-text">Dedicate</p>
        </div>
        <div class="home__work-block mr-0">
          <div class="home__work-item">

          </div>
          <p class="home__work-text">We ship it to you</p>
        </div>
      </div>
    </div>
  </div>

  <div class="home__feedback h-text-grey-cl-500">
    <div class="container">
      <h1 class="title3 text-center">What people are saying</h1>
      <div class="home__feedback-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="home__feedback-item"></div>
            </div>
            <div class="col-lg-4">
              <div class="home__feedback-item"></div>
            </div>
            <div class="col-lg-4">
              <div class="home__feedback-item mb-0"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  //= hero-block.html

  <div class="home__updates h-bg-blue-light-cl text-center">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="col-lg-8 offset-lg-2">
            <h1 class="title3 h-text-white-cl">Get More Updates</h1>
            <div class="d-flex justify-content-center input input--with-btn">
              <input type="text" placeholder="Enter your Email" class="input__element">
              <button class="input__button">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
