<footer class="l-footer">
  <div class="container">
    <div class="row">
        <div class="col-md-3 d-none d-md-block">
          <a href="#">
            <img src="img/logo.png" alt="logo" class="l-footer__logo"/>
          </a>
        </div>
        <div class="col-md-2 col-6">
          <h5 class="title5 font-weight-bold h-font-secondary">My Account</h5>
          <a href="cart.html" class="l-footer__link text-body-s">Order History</a></br>
          <a href="contact.html" class="l-footer__link text-body-s">My Account</a></br>
          <a href="form1.html" class="l-footer__link text-body-s">Delivery Information</a></br>
          <a href="contact.html" class="l-footer__link text-body-s">Contact Us</a>
        </div>
        <div class="col-md-2 col-6">
          <h5 class="title5 font-weight-bold h-font-secondary">A Fan For Life</h5>
          <a href="#" class="l-footer__link text-body-s">About Us</a></br>
          <a href="#" class="l-footer__link text-body-s">Our Story</a></br>
          <a href="#" class="l-footer__link text-body-s">Books</a></br>
          <a href="#" class="l-footer__link text-body-s">Contact</a>

        </div>
        <div class="col-md-5 text-center">
          <div class="d-flex justify-content-md-end justify-content-center align-items-center mb-4 mt-md-0 mt-4">
            <a href="#" class="l-footer__social">
              <img src="img/facebook.png" alt="facebook" class="l-footer__social-img"/>
            </a>
            <a href="#" class="l-footer__social">
              <img src="img/twitter.png" alt="twitter" class="l-footer__social-img"/>
            </a>
            <a href="#" class="l-footer__social">
              <img src="img/linkedin.png" alt="linkedin" class="l-footer__social-img"/>
            </a>
            <a href="#" class="l-footer__social">
              <img src="img/instagram.png" alt="instagram" class="l-footer__social-img"/>
            </a>
          </div>
          <a href="#" class="l-footer__payment d-flex justify-content-md-end justify-content-center">
            <img src="img/payment-methods.png" alt="payment"/>
          </a>
        </div>
    </div>
    <div class="d-sm-flex justify-content-between text-body-xs mt-3 text-center">
      <p class="mb-3 mb-sm-0">© 2019  A Fan for Life Inc.</p>
      <p>Terms & Conditions • Privacy Policy</p>
    </div>
  </div>
</footer>
