<header class="l-header l-header--is-scrolled d-flex align-items-center">
  <div class="container">
    <div class="d-sm-flex justify-content-sm-between justify-content-center align-items-center">
      <a href="/" class="l-header__logo">
        <img src="img/mhd-logo.png" alt="logo" class="l-header__logo-img"/>
      </a>
      <div class="l-header__menu d-flex align-items-center justify-content-sm-between justify-content-center">
        <a href="/#hero-block" class="l-header__link h-text-orange-cl font-weight-bold">
          Get Started
        </a>
        <a href="your-orders.html" class="l-header__order h-text-grey-cl-700">My Orders</a>
        <a href="cart.html">
          <img src="img/cart.png" alt="logo" class="l-header__icon"/>
        </a>
        <!--l-header__dropdown-->
        <div class="dropdown l-header__dropdown">
          <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            USD
            <i class="fas fa-chevron-down dropdown-icon"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">EUR</a>
            <a class="dropdown-item" href="#">GBP</a>
            <a class="dropdown-item" href="#">CHF</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
