.l-footer {
  padding: 40px 0 30px 0;
  background-color: $white-cl;
  color: $primary-cl;

  &__link {
    color: $primary-cl;

    &:hover {
      color: $primary-cl;
    }
  }

  &__social {
    margin-right: 10px;
    display: inline-block;

    &-img {
      max-height: 20px;
    }
  }
}
