.l-header {
  height: 100px;
  background-color: $beige-cl;

  &--is-scrolled {
    position: relative;
    box-shadow: 0 10px 19px -8px rgba(0,0,0,0.17);
    background-color: $white-cl;

    .l-header__dropdown .dropdown-toggle {
      background-color: $white-cl;
    }
  }

  &__logo {
    display: inline-block;
    @media (max-width: 575px) {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }

    &-img{
      width: 145px;
    }
  }

  &__link {
    &:hover {
      color: $orange-cl;
    }
    &:focus {
      text-decoration: underline;
    }
  }

  &__order {
    margin-left: 30px;

    &:hover {
      color: $grey-cl-700;
    }
  }

  &__icon {
    width: 40px;
    margin: 0 15px;
  }

  &__dropdown {
    font-family: $font-secondary;
    line-height: 1.5;

    .dropdown-toggle {
      color: $grey-cl-400;
      background-color: $beige-cl;
      border: none;
      box-shadow: none;
      display: flex;
      align-items: center;
      &:focus {
        outline: none;
      }
      &:after {
        display: none;
      }
    }

    .dropdown-item {
      color: $grey-cl-400;
      padding: 5px 15px;
      &:active {
        background-color: #f8f9fa;
      }
    }

    .dropdown-icon {
      font-size: 0.6rem;
      margin-left: 12px;
    }
  }

}
