* {
  box-sizing: border-box;
}


html {
  font-size: 16px;
}

body {
  font-size: 1rem;
	font-family: $font-regular;
  color: $primary-cl;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

a {
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

a, a:visited,a:hover,a:focus,a:active {
	text-decoration: none;
}

p {
	margin: 0px;
}

img {
	max-width: 100%;
}

img[src=""] {
	visibility: hidden;
}

* {
	outline: none;
}
