.cart {
  padding: 60px 0 150px 0;

  &__order {
    padding: 35px 30px 35px 35px;
    border-radius: 10px;
    box-shadow: 0 10px 19px -8px rgba(0,0,0,0.17);

    &-book {
      height: 115px;
      flex: 0 1 170px;
      border: 1px solid $grey-cl-800;
      background-color: $grey-cl-100;

      @media (max-width: 767px) {
        max-width: 250px;
        height: 150px;
        margin: auto;
        margin-bottom: 30px;
      }
    }

    &-close {
      font-size: 1.8rem;
      color: $grey-cl-80;

      @media (max-width: 767px) {
        font-size: 1.4rem;
      }
    }

    &-text {
      margin: 40px 0 22px 0;

      @media (max-width: 575px) {
        margin: 20px 0;
      }
    }

    &-summary {
      padding: 17px 20px 35px 20px;
      margin-bottom: 30px;
      border-radius: 10px;
      box-shadow: 0 13px 12px -10px rgba(0,0,0,0.17);
    }

    &-editing {
      text-decoration: underline;
      &:hover {
        color: $blue-cl-800;
      }
    }

    &-wrap {
      .review__btn {
        display: none;
      }

      &--btn {
        .cart__order-close {
          display: none;
        }
      }
    }


    @media (max-width: 767px) {
      padding: 30px 20px 30px 20px;
    }
  }

  @media (max-width: 991px) {
    padding: 40px 0 100px 0;
  }

}
