.chat {
  padding: 40px 0 200px 0;

  @media (max-width: 767px) {
    padding: 40px 0 50px 0;
  }

  &__titles {

    &-text {
      margin-top: 35px;

      @media (max-width: 767px) {
        margin-top: 20px;
      }
    }
  }

  &__form {
    padding-top: 65px;
    @media (max-width: 767px) {
      padding-top: 35px;
    }

    &-email {
      padding: 30px;
    }

    &-socials {
      padding: 30px;
    }

    &-social {
      margin-right: 10px;
      display: inline-block;
      color: $blue-cl;

      &-img {
        max-height: 20px;
      }
    }
  }
}
