.form {
  padding: 50px 0 150px 0;

  &__step {
    margin-right: 40px;

    @media (max-width: 991px) {
      margin-right: 20px;
    }

    @media (max-width: 767px) {
      margin-right: 40px;
    }
  }

  &__order {
    padding: 25px 25px 30px 25px;
    margin-top: 40px;
    border: 1px solid $grey-cl-80;
    border-radius: 15px;
    box-shadow: 0 13px 12px -10px rgba(0,0,0,0.17);

    &-name {
      margin-bottom: 20px;
    }

    &-book {
      height: 85px;
      flex: 0 1 120px;
      border: 1px solid $grey-cl-800;
      background-color: $grey-cl-100;
    }

    &-subtotal {
      margin-bottom: 25px;
    }

    &-total {
      margin-top: 25px;
    }

    &-shipping {
      margin-bottom: 25px;
    }

    &-editing {
      text-decoration: underline;
      &:hover {
        color: $blue-cl-800;
      }
    }

    @media (max-width: 991px) {
      padding: 25px 20px 30px 20px;
    }

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  &__details {
    position: relative;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 13px 12px -10px rgba(0,0,0,0.17);

    &-name {
      flex-basis: calc(50% - 8px);

      @media (max-width: 575px) {
        flex-basis: 100%;
      }
    }

    &-text {
      margin: 25px 0 40px 0;
    }

    &-link {
      color: $blue-cl-800;
      text-decoration: underline;
      &:hover {
        color: $blue-cl-800;
      }
    }

    &-btn {
      position: absolute;
      left: calc(50% - 150px);
      top: calc(100% - 31.4px);

      @media (max-width: 575px) {
        left: calc(50% - 125px);
      }
    }
  }

  &__wrapper-checkbox {
    height: 22px;
    width: 22px;
    margin-right: 24px;
  }

  @media (max-width: 575px) {
    padding: 40px 0 100px 0;
  }

  &__address {
    padding: 20px 30px;
    border-radius: 10px;
    background-color: $beige-dark-cl;
    box-shadow: 0 13px 12px -10px rgba(0,0,0,0.17);

    @media (max-width: 767px) {
      padding: 20px 10px;
    }

    &-title {
      color: $grey-cl-50;
      flex: 0 0 90px;
    }

    &-btn {
      margin-top: 35px;
    }
  }

  &__shipping {
    position: relative;
    padding: 25px 30px 70px 30px;
    border-radius: 10px;
    background-color: $white-cl;
    box-shadow: 0 13px 12px -10px rgba(0,0,0,0.17);

    &-title {
      margin-bottom: 35px;
    }

    &-text {
      margin: 0 0 23px 46px;
    }

    &-btn {
      position: absolute;
      left: calc(50% - 150px);
      top: calc(100% - 31.4px);

      @media (max-width: 575px) {
        left: calc(50% - 125px);
      }
    }

    @media (max-width: 575px) {
      padding: 25px 15px 70px 15px;
    }
  }
}
