/* Homa page styles ----------------------------------
 ----------------------------------------------------- */
.home {
  background-color: $beige-cl;
  &__titles {
    padding: 145px 0 160px 0;

    @media (max-width: 991px) {
      padding: 0px 0 50px 0;
    }

    &-img {
      transform: scale(1.6);

      @media (max-width: 1199px) {
        transform: scale(1.4);
      }

      @media (max-width: 991px) {
        transform: scale(1);
      }
    }

    &-wrapper {

      @media (max-width: 991px) {
        margin-top: 30px;
      }
    }

    &-text {
      font-size: 1.12rem;
      line-height: 1.77;
      letter-spacing: 1.51px;
    }
  }

  &__creation {
    padding-bottom: 150px;

    &-wrapper {
      margin-bottom: 90px;
    }

    &-item {
      position: relative;
      flex: 0 1 275px;
      height: 162px;
      background-color: $grey-cl-100;
      border-radius: 8px;
      margin: 0 50px;
      @media (max-width: 991px) {
        height: 250px;
        margin: 40px 0 80px 0;
      }
    }

    &-text {
      position: absolute;
      top: calc(100% + 13px);
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      line-height: 2.3;
      color: $blue-cl;
      @media (max-width: 991px) {
        font-size: 1.25rem;
      }

      @media (max-width: 575px) {
        font-size: 1.1rem;
      }
    }

    &-example {
      margin-top: 70px;
      @media (max-width: 991px) {
        margin-top: 40px;
      }
    }

    @media (max-width: 991px) {
      padding-bottom: 80px;
    }

    @media (max-width: 767px) {
      padding-bottom: 50px;
    }
  }

  &__work {
    padding: 120px 0 185px 0;


    &-wrapper {
      margin-top: 125px;
      @media (max-width: 991px) {
        margin-top: 50px;
      }
    }

    &-block {
      flex: 0 1 260px;
      margin-right: 20px;
      color: $blue-cl;
    }

    &-item {
      position: relative;
      height: 175px;
      border-radius: 31.5px;
      background-color: $grey-cl-100;
      margin-bottom: 10px;
      @media (max-width: 991px) {
        height: 275px;
        margin-top: 10px;
      }
    }

    &-icon {
      width: 60px;
      position: absolute;
      top: 50%;
      left: calc(100% - 15px);
      transform: translateY(-50%);
      z-index: 2;

      @media (max-width: 991px) {
        display: none;
      }
    }

    &-text {
      line-height: 2.3;
    }

    @media (max-width: 991px) {
      padding: 80px 0 50px 0;
    }

    @media (max-width: 767px) {
      padding: 50px 0 50px 0;
    }
  }

  &__feedback {
    padding: 80px 0 80px 0;


    &-wrapper {
      margin-top: 70px;

      @media (max-width: 575px) {
        margin-top: 50px;
      }
    }

    &-item {
      height: 210px;
      background-color: $grey-cl-100;
      border-radius: 8px;

      @media (max-width: 991px) {
        height: 275px;
        margin-bottom: 50px;
      }
    }

    @media (max-width: 767px) {
      padding: 50px 0 50px 0;
    }
  }

  &__updates {
    padding: 75px 0;
    @media (max-width: 767px) {
      padding: 50px 0 50px 0;
    }
  }
}
