.register {
  padding: 80px 0;

  &__form {
    padding: 35px 65px 45px 65px;
    box-shadow: 0 10px 19px -8px rgba(0,0,0,0.17);
    border-radius: 10px;

    &--small {
      padding: 35px 40px 45px 40px;
    }

    @media (max-width: 575px) {
      padding: 30px 20px 45px 20px;
    }
  }

  &__link {
    &:hover {
      color: $blue-cl;
    }
  }

  @media (max-width: 767px) {
    padding: 40px 0;
  }
}
