.review {
  padding: 115px 0;

  &__title {
    margin-bottom: 55px;
  }

  &__order {
    min-height: 280px;
    height: 100%;
    padding: 24px 24px 35px 24px;
    border-radius: 10px;
    background-color: $white-cl;
    box-shadow: 0 10px 19px -8px rgba(0,0,0,0.17);

    &-book {
      height: 150px;
      flex: 0 1 240px;
      background-color: $grey-cl-100;
    }

    &-address {
      margin-right: 100px;

      @media (max-width: 575px) {
        margin-right: 50px;
      }
    }

    &-text {
      @media (max-width: 575px) {
        font-size: 0.8rem;
      }
    }

    @media (max-width: 575px) {
      padding: 24px 15px 35px 15px;
    }
  }

  &__text {
    margin-bottom: 35px;
  }

  &__space {
    margin-bottom: 85px;
  }

  &__padding-small {
    padding-bottom: 30px;
  }

  &__btn {
    min-width: 255px;
    flex: 0;

    @media (max-width: 575px) {
      min-width: 150px;
      font-size: 1rem;
    }
  }

  @media (max-width: 991px) {
    padding: 85px 0 0 0;
  }
}
