/* Utils files ----------------------------------------
----------------------------------------------------- */
@import "utils/_variables";
@import "utils/_helpers";
@import "utils/_texts";


/* Base files ----------------------------------------
 ----------------------------------------------------- */
@import "base/_normalize";
@import "base/_base";

/* Reusable parts ------------------------------------
 ----------------------------------------------------- */
// Components
@import "modules/_buttons";
@import "modules/_typography";
@import "modules/_math-block";
@import "modules/_inputs";
@import "modules/_hero-block";
@import "modules/_animations";
@import "modules/_line";
@import "modules/_circle";
// Layouts
@import "layouts/_l-header";
@import "layouts/_l-footer";
/* Pages -----------------------
 ----------------------------------------------------- */
@import "pages/_home";
@import "pages/_chat";
@import "pages/_cart";
@import "pages/_form";
@import "pages/_register";
@import "pages/_review-order";
/* Vendors --------------------------------------------
 ----------------------------------------------------- */
